body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    padding-left: 40%;
    margin-top: 20px;
    content: center;
}

.container img {
    margin-left: 8%;
    size: 30%;
}

.container h1 {
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    margin-bottom: 15px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    margin-left: 12%;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 8px;
    color: #3498db;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #3498db;
    color: #ffffff;
}

.informasi-pembelian {
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    color: #3c763d;
    padding: 15px;
    margin-top: 20px;
    padding-left: 40%;
}

.alert-warning {
    background-color: #f0d8d8;
    border: 1px solid #f56262;
    color: #f56262;
    padding: 10px;
    margin-top: 20px;
    padding-left: 40%;
}

select,
input {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
